CHC.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2021 (https://www.liquid-tSLhnologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Railway">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="train" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            
                            <xs:element name="from" type="xs:string"></xs:element>
                            <xs:element name="to" type="xs:string"></xs:element>
                            <xs:element name="tname" type="xs:string"></xs:element>
                            <xs:element name="SAA" type="xs:integer"></xs:element>
                            <xs:element name="SA" type="xs:integer"></xs:element>
                            <xs:element name="SLA" type="xs:integer"></xs:element>
                            <xs:element name="SL" type="xs:integer"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="tname">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[a-z]"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>
